.search {
  :global {
    flex: 1;
    margin-top: 50px;
    background-color: transparent !important;
    .ant-select {
      width: 100%;

      .ant-select-selection-search-input {
        font-size: 16px;
      }
    }
  }
}

:global {
  :local(.selectPopUp) {
    .ant-select-item-option-content {
      span {
        color: #1668dc;
      }
      .anticon {
        margin-right: 5px;
      }
    }
  }
}
