:global {
    html,
    body {
        margin: 0;
        padding: 0;
    }
}

.app {
    :global {
        display: flex;
        border-radius: 0;
        border: none;
        .config-box {
            display: flex;
            justify-content: flex-end;
            .btn-config {
                margin-left: 10px;
            }
        }
        .ant-card-body {
            padding: 50px;
            width: 100%;
            height: 100vh;
        }
    }
}
